* {
  box-sizing: border-box;
}

body {
  width:1500px;
  margin:0px;
  padding: 0px;
  background: #49494936;
  
  
}
 body .container{
   
  background :#FFFFFF;
  height:auto;
  margin:300px;
  box-shadow: 0 0 10px #442D143D;
  font-size: 30px;
  padding:90px;
  border-radius:15px ;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.container h1,h6,p{
  text-align: center;

}

.container h1{
  font-size:80px;
  font-weight: bold;
  color:#331C09D1;
}
.container h6{
  color: #454444E0;
  font-size: 30px;
}
.container p{
  color:#444444;
  padding-bottom: 10px;
}
form label{
 display: block;
  margin-bottom: 30px;
  padding: 30px 10px 10px 10px ;
  font-size:35px;
  font-weight: bold;
  
}

form input{
  display:block;
  width:100%;
  margin: 0px 5px 0 20px ;
  padding:30px;
  border:2px solid #838282 ;
  border-radius:10px;
}
form button{
  width: 100%;
  padding: 20px 30px;
  margin-top: 100px ;
  background: #61390A99;
  color: #FFFFFF;
  font-size:40px;
  font-weight: bold;
  border-radius:15px;
  border: none;
}
form p {
  padding-top:20px;
}
form button a{
  text-decoration: none;
  color: #FFFFFF;
}
form p a{
  color: #663F1399;
  font-weight:bold;
  text-decoration: none;
}
