* {
  box-sizing: border-box;
}

body {
  width:1500px;
  margin: 0;
  padding:0px;
  background: #F2F2F2;

  
}
header{
  position:fixed;
  width:100%;
  padding: 0 100px;
  top:0;
  margin: 0;
  background: #FAFAFA;
  background-size: cover;
  display: flex;
  box-shadow: 0 0 10px #D0C9D7;
  
}
header h1 span {
  color: #C19A6B;
}
header ul{
  padding-left:750px;
  padding-top: 10px;
  
  
}

header ul li{
  font-size:15px;
  list-style: none;
  display: inline;
  padding-right:10px;
  direction: none;
  
}
header ul li a{
  text-decoration: none;
  color: #2C2C2C;
}
header ul li a:hover{
  color: #C19A6B;
}

header ul li button a{
  margin: 10px ;
  
  
}
header ul li button{
 background: #C19A6B;
  padding: 10px;
  border: none;
  border-radius:5px;
}
main{
  display: block;
  width: 100%;
  height: 600px;
  background: #FAFAFA;
  text-align: center;
  padding-top: 80px;
}


main .hello h2{
  padding: 80px 80px 0px;
  font-size: 60px;
  color: #2C2C2C;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
main .hello h2 span{
  color: #C19A6B;
}

main .hello h5{
  font-size:25px;
  padding:0 400px;
  
}
main .hello button{
  margin: 50px 10px 10px 1px;
}
main .hello button.show{
  background: #CDA988E3;
  border: none;
  border: 2px solid #CFBDAD;
  border-radius:10px;
  padding:15px;
  font-size: 15px;
}
main .hello button.learn{
  border: 2px solid #CFBDAD;
  border-radius:10px;
  padding:15px;
  font-size: 15px;
}

sections{
  display: block;
  padding: 50px;
  height:500px;
  text-align: center;
}
sections h2{
  color: #2C2C2C;
  font-weight: bold;
  font-size: 50px;
  padding-bottom:30px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

sections .Information{
  padding: 0 100px;
   display: flex;
  justify-content:space-between;
  align-items:center;
  margin:20px;

}
sections .Information .info{
  width:250px;
  background: #FFFFFF;
  padding:10px 10px;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px #C8C0CD;
  margin: -10px;
  transition: all .2s ease;

}
sections .Information .info:hover{
  transform: scale(1.2);
}
sections .Information p{
  padding: 0 20px 0;
  font-size: 15px;
  color: #4B4B4B;
  
}
sections .Information p.E{
  font-size: 40px;
  
}

sections .Information p {
  padding: 0 20px 0;
  font-size: px;
  
}
article{
  padding:100px;
  background: #483F2F29;
  margin-top:100px ;
  
}
article .view{
  display: flex;
  
}
 article .view h2{
  font-size: 55px;
  text-align: center;
  color: #2C2C2C;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

}
article .view button{
  margin-left:670px;
  border: none;
  box-shadow: 0 0 5px #917863E0;
  background:#ECE8EF00 ;
  border-radius: 20px;
  padding: 30px;
  margin-top:50px;
  margin-bottom: 50px;
  font-size: 15px;
  font-weight: 700;
  background:#C19A6B63 ;
  
  
}
article .view button a{
  display:block;
  color: #000000;
  text-decoration:none;
  overflow: hidden;
  object-fit: cover;
  
}
img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  transition: all .2s ease;
  
}
article .product{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  margin:20px;
}
article .product h4{
color: #0F0700E8;
}
article .product p{
  color: #305183;

}

article .product .a{
  margin:20px;
  background:#FFFFFF;
  box-shadow: 0 0 10px #DCD0EE;
  border-radius:20px;
  
}

article .product .b{
  margin-bottom: 25px;
  font-size: 20px;
  padding-left:30px ;
}
article .product button {
  padding:10px 120px;
  border: none;
  border-radius: 0 0 15px;
  color: #442D14FC;
  background: #7C501F47;
  font-size: 20px;
}
form{
  
  padding-top:80px;
  color:#FFFFFF;
  background: #F8F4EFD6;
  height:1100px;
  
  
}
form h2{
  text-align: center;
  padding-bottom: 20px;
  font-size:70px;
  font-weight: bold;
  color: #2C2C2C;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom:70px;
  
}

form .contact{
  background :#FFFFFF;
  height:720px;
  margin: 20px 400px 100px 400px;
  box-shadow: 0 0 13px #442D143D;
  font-size: 30px;
  padding:60px 25px 25px 25px;
  border-radius:10px;
}
form .contact label{
  margin-bottom:800px;
  color: #2C2C2C;
  font-weight:500;
  
}
form .contact input{
  width: 100%;
  padding: 20px;
  border-radius:7px;
  margin-bottom: 50px;
  border: 2px solid #C3BCB0;
}
form .contact input:hover{
 outline: none;
}
form .contact .message input{
  padding: 100px;
  
}
form .contact button{
  padding: 10px;
  width:100%;
  font-size:20px;
  background: #815A2F75;
  border: none;
  border-radius:10px;
}
footer{
  /*background: #483F2F29;*/
  background: #CFBDAD96;
  color:#1F1305 ;
  padding: 10px 130px;
}
footer .footer{
  display: flex;
  justify-content:space-between;
  align-items:center;
  
}
 footer .footer .shophub{
   margin: -100px 0 0 0;
   
 }
 footer .footer .shophub p{
  margin-right: 50px;

 }
 footer .footer .link{
   margin: 0 60px 0 60px;
 }
 
 footer .footer .service{
   margin: 0 60px 0 60px;
 }
 
 footer .footer .contactt{
   margin: 0 60px 0 60px;
 }
 footer p.p{
   text-align: center;
   margin-top:70px;
   font-weight: bold;
}
img:hover {
  transform: scale(1.2);
}
